<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Plataforma de língua portuguesa para estrangeiros haitianos.</title>
</head>
<body>
    <header>
        <div class="menu">
          <span class="hamburger"><i class="fas fa-bars"></i></span>
          <nav>
            <ul>
              <li><a href="/" class="logo"><span class="blue">H</span><span class="red">T</span></a></li>               
              <li><a href="/home"><i class="fas fa-home"></i> Home</a></li>
              <li>
                </details>
                    <span class="lang-toggle">
                        <i class="fas fa-globe"></i> <%= __('Língua') %>
                    </span>
                    <ul class="lang-menu">
                        <li><a href="/lang/en"><%= __('English') %></a></li> 
                        <li><a href="/lang/pt"><%= __('Português') %></a></li>
                        <li><a href="/lang/fr"><%= __('Français') %></a></li>
                        <li><a href="/lang/es"><%= __('Español') %></a></li>
                    </ul>
                </details>
              </li>
              <li class="logout"><a href="/logout"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
            </ul>
        </nav>
        </div>
    </header>
  <main>
    <% if (err) { %>
      <p>Erro ao carregar usuário para edição: <%= err.message %></p>
    <% } else if (usuario) { %>
      <form action="/editar/<%= usuario.id %>" method="POST">
        <h1>Editar Usuário</h1>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="<%= usuario.nome %>"><br><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="<%= usuario.email %>"><br><br>
        
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" value="<%= usuario.senha %>"><br><br>
        
        <button type="submit">Atualizar Usuário</button>
      </form>
    <% } else { %>
      <p>Nenhum usuário encontrado para edição.</p>
    <% } %>
  </main>
  <footer>
    <div class="footer-content">
        <p>&copy; Desenvolvido por Mikenson Thomas</p>
        <ul class="socials">
          <li><a href="https://chat.whatsapp.com/KcxOOiU5TisKApgKrCjXLu" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
          <li><a href="mailto:plataformadelingua@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
          <li><a href="https://www.facebook.com/mikenson.thomas?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://x.com/MikensonT31833?t=9P6ONkE5NOatjRH23HlJNw&s=09"><i class="fab fa-twitter"></i></a></li>
          <li><a href="http://www.linkedin.com/in/mikenson-thomas"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="https://www.instagram.com/mikenson.thomas"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
  </footer>
</body>
</html>
