<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Plataforma de língua portuguesa para estrangeiros haitianos.</title>
</head>
<body>
    <header>
        <div class="menu">
          <span class="hamburger"><i class="fas fa-bars"></i></span>
          <nav>
            <ul>
                <li><a href="/" class="logo">HT.</a></li>
                <li><a href="/cadastro"><i class="fas fa-user-plus"></i>Cadastro</a></li>
                <li><a href="/home"><i class="fas fa-home"></i> Home</a></li>
                <li>
                    <details>
                        <summary><i class="fas fa-envelope"></i> Contatos</summary>
                        <ul>
                          <li><a href="https://wa.me/5549984177437" target="_blank">Whatsapp <i class="fab fa-whatsapp"></i></a></li>
                          <li><a href="https://chat.whatsapp.com/KcxOOiU5TisKApgKrCjXLu" target="_blank">Grupo <i class="fab fa-whatsapp"></i></a></li>
                          <li><a href="mailto:plataformadelingua@gmail.com" target="_blank">E-mail <i class="fas fa-envelope"></i></a></li>
                        </ul>
                    </details>
                </li>
                <li class="logout"><a href="/logout" style="color: rgb(240, 129, 129);"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
              </ul>
        </nav>
        </div>
    </header>
</head>
<body>
  <main>
    <% if (err) { %>
      <p>Erro ao carregar usuários: <%= err.message %></p>
    <% } else { %>
      <% if (listar_usuarios && listar_usuarios.length > 0) { %>
        <div class="usuarios-header" style="position: relative; top: 9%;">
          <span>ID</span>
          <span style="position: relative; left: -13.5%;">Nome</span>
          <span>Email</span>
          <span style="position: relative; left: -1.5%;">Ação</span>
        </div>
        <div id="usuarios-container" style="position: relative; top: 10%;">
          <% listar_usuarios.forEach(usuarios => { %>
            <div class="usuarios">
              <div class="usuarios-content">
                <span><%= usuarios.id %></span>
                <span><%= usuarios.nome %></span>
                <span><%= usuarios.email %></span>
                <span><a href="/editar/<%= usuarios.id %>" class="icon-link"><i class="fas fa-edit"></i></a></span>
                <span><a href="/deletar/<%= usuarios.id %>" class="icon-link" style="color: rgb(237, 94, 94);"><i class="fas fa-trash-alt"></i></a></span>
              </div>
            </div>
          <% }) %>
        </div>
      <% } else { %>
        <p>Nenhum usuário encontrado.</p>
      <% } %>
    <% } %>
  </main>
  <!-- <button class="fixed-button-left">
    <a href="/cadastra_video"><i class="fas fa-arrow-left"></i>Voltar</a>
</button> -->
<footer>
  <div class="footer-content">
      <p>&copy; 2024 HT. Redes sociais:</p>
      <ul class="socials">
          <li><a href="https://www.facebook.com/mikenson.thomas?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://x.com/MikensonT31833?t=9P6ONkE5NOatjRH23HlJNw&s=09"><i class="fab fa-twitter"></i></a></li>
          <li><a href="http://www.linkedin.com/in/mikenson-thomas"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="https://www.instagram.com/mikenson.thomas"><i class="fab fa-instagram"></i></a></li>
      </ul>
  </div>
  <script>
    document.querySelector('.hamburger').addEventListener('click', function() {
    document.querySelector('nav ul').classList.toggle('active');
  });
  </script>
</footer>
</body>
</html>
