<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Plataforma de língua portuguesa para estrangeiros haitianos.</title>
</head>
<body>
    <header>
        <div class="menu">
          <span class="hamburger"><i class="fas fa-bars"></i></span>
          <nav>
            <ul>
                <li><a href="/" class="logo"><span class="blue">H</span><span class="red">T</span></a></li>
                <li><a href="/cadastro"><i class="fas fa-user-plus"></i> Cadastro</a></li>
                <li><a href="/home"><i class="fas fa-home"></i> Home</a></li>
                <li>
                  </details>
                      <span class="lang-toggle">
                          <i class="fas fa-globe"></i> <%= __('Língua') %>
                      </span>
                      <ul class="lang-menu">
                          <li><a href="/lang/en"><%= __('English') %></a></li> 
                          <li><a href="/lang/pt"><%= __('Português') %></a></li>
                          <li><a href="/lang/fr"><%= __('Français') %></a></li>
                          <li><a href="/lang/es"><%= __('Español') %></a></li>
                      </ul>
                  </details>
                </li>
                <% if (!user) { %>
                  <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                <% } %>
                <li class="logout"><a href="/logout"><i class="fas fa-sign-out-alt"></i> <%= __('Sair') %></a></li>
              </ul>
        </nav>
        </div>
    </header>
</head>
<body>
  <main>
    <h1 style="color: white; position: relative; top: 1%;">Lista de vídeos aula</h1>
    <% if (err) { %>
      <p>Erro ao carregar vídeo: <%= err.message %></p>
    <% } else { %>
      <% if (video_list && video_list.length > 0) { %>
        <div class="videos-header">
          <span>ID</span>
          <span>Título</span>
          <span>Descrição</span>
          <span>Vídeo</span>
          <span >Nível</span>
          <span>Ação</span>
          <span>Comentários</span>
        </div>
        <div id="videos-container">
          <% video_list.forEach(videos => { %>
            <div class="videos">
              <div class="videos-content">
                <span><%= videos.id %></span>
                <span><%= videos.titulo %></span>
                <span><%= videos.descricao %></span>
                <span><a href="<%= videos.link %>">Vídeo</a></span>
                <span><%= videos.nivel %></span>
                <span><a href="/editar_video/<%= videos.id %>" class="icon-link"><i class="fas fa-edit"></i></a></span>
                <span><a href="/deletar_video/<%= videos.id %>" class="icon-link"><i class="fas fa-trash-alt"></i></a></span>
                <span><a href="/lista_comentario/<%= videos.id %>">comentários</a></span>
              </div>
            </div>
          <% }) %>
        </div>
      <% } else { %>
        <p>Nenhum vídeo encontrado.</p>
      <% } %>
    <% } %>
    <br>
  </main>
  <footer>
    <div class="footer-content">
        <p><%= __('Desenvolvido por Mikenson Thomas') %></p>
        <ul class="socials">
          <li><a href="https://chat.whatsapp.com/KcxOOiU5TisKApgKrCjXLu" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
          <li><a href="mailto:plataformadelingua@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
          <li><a href="https://www.facebook.com/mikenson.thomas?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://x.com/MikensonT31833?t=9P6ONkE5NOatjRH23HlJNw&s=09"><i class="fab fa-twitter"></i></a></li>
          <li><a href="http://www.linkedin.com/in/mikenson-thomas"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="https://www.instagram.com/mikenson.thomas"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
  </footer>
  <script src="/javascripts/video_list.js"></script>
</body>
</html>
